/* App.css */

body {
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
  background-color: #E5DABD;
  /* Sand Beige */
  color: #064E40;
  /* Deep Forest Green */
}

.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* Ensure at least 100% viewport height */
}

.container {
  max-height: 80vh;
  /* Set a maximum height for the container */
  overflow-y: auto;
  /* Enable vertical scrolling if content overflows */
  margin-top: 20px;
  /* Add spacing at the top */
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #A77555;
  /* Clay Brown */
  background-color: #E5DABD;
  /* Sand Beige */
  color: #064E40;
  /* Deep Forest Green */
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  border: none;
  background-color: #8DAB7F;
  /* Moss Green */
  color: #E5DABD;
  /* Sand Beige */
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #064E40;
  /* Deep Forest Green */
  color: #E5DABD;
  /* Sand Beige */
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #064E40;
  /* Deep Forest Green */
  cursor: pointer;
  /* As you mentioned making the title clickable */
}

.input-container {
  display: flex;
  align-items: center;
}

.movie-card {
  display: flex;
  align-items: flex-start;
  /* Aligns the top of the poster and details */
  margin-bottom: 20px;
  width: 80%;
  /* Adjust as needed */
  background-color: #A3C3D9;
  /* Sky Blue */
  border-radius: 4px;
  padding: 10px;
}

.movie-poster {
  margin-right: 20px;
  max-width: 150px;
}

.movie-details {
  flex: 1;
}

@media (max-width: 600px) {
  .movie-card {
    flex-direction: column;
    align-items: center;
  }

  .movie-poster {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.retry-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* or any desired height */
  width: 100%;
  /* or any desired width */
}